<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>meilisearchprestashop</name>
	<displayName><![CDATA[Meilisearch Prestashop]]></displayName>
	<version><![CDATA[1.3.0]]></version>
	<description><![CDATA[Prestashop module to replace the standard searchbar with Meilisearch]]></description>
	<author><![CDATA[Doudeau Adam, Johan Vivien]]></author>
	<tab><![CDATA[search_filter]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
