.search-bar-container {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.search-bar-container input {
    width: 100%;
    padding: 10px 40px 10px 40px;
    border: 1px solid;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

.search-icon,
.clear-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    cursor: pointer;
}

.search-icon {
    left: 10px;
}

.clear-icon {
    right: 10px;
    display: none;
}

.search-bar-container input:focus {
    outline: none;
    border-color: var(--domadoo-primary-color);
}

#meilisearch-searchbar{
    width: 100%;
}

.search-bar-wrapper{
    width: 100%; 
    padding: 0.65rem;
    padding-right: 2.5rem;
}
