# Config de base pour l'action PrestaShop (paramètres uniquement, pas d'includes).
# Pas de bootstrapFiles : ps-module-extension fournit le bootstrap PrestaShop.
# Nos stubs (phpstan-stubs.php) ne doivent pas être chargés en CI (PrestaShop réel = conflit "class already in use").
parameters:
  paths:
    - ../../../upgrade
    - ../../../classes
  scanFiles:
    - ../../../meilisearchprestashop.php
  reportUnmatchedIgnoredErrors: false
  level: 5
  ignoreErrors:
    # Cookie dynamic properties used for Meilisearch session tracking
    - message: "#^Access to an undefined property Cookie\\:\\:\\$meilisearch_id\\.$#"
    - message: "#^Access to an undefined property Cookie\\:\\:\\$meilisearch_query\\.$#"
    - message: "#^Access to an undefined property Cookie\\:\\:\\$meilisearch_product_id\\.$#"
    # requestCurl() is defined on the concrete Meilisearchprestashop class, not on Module base class
    - message: "#^Call to an undefined method Module\\:\\:requestCurl\\(\\)\\.$#"
